# BACKEND
export GLOBAL_LLM_SERVICE="AzureOpenAI"
export AZURE_OPENAI_API_KEY=
export AZURE_OPENAI_ENDPOINT=
export AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=
export AZURE_OPENAI_TEXT_DEPLOYMENT_NAME=

export AZURE_CLIENT_ID=
export AZURE_TENANT_ID=
export AZURE_CLIENT_SECRET=
export AZURE_SUBSCRIPTION_ID=

# FRONTEND
export VITE_CLIENT_ID=
export VITE_TENANT_ID=
export VITE_BASE_URL=
export VITE_BACKEND_CLIENT_ID=
export API_ENDPOINT=

# TEAMSBOT
export AAD_APP_CLIENT_ID=
export AAD_APP_CLIENT_SECRET=
export AAD_APP_OAUTH_AUTHORITY_HOST=
export AAD_APP_TENANT_ID=
export BOT_DOMAIN=
export BOT_ID=
export BOT_PASSWORD=
export RUNNING_ON_AZURE=1
   

