container_name="$TF_VAR_container_name"
key="$TF_VAR_key"
resource_group_name="$TF_VAR_resource_group_name"
storage_account_name="$TF_VAR_storage_account_name"
subscription_id="$TF_VAR_subscription_id"